/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/
* {
  box-sizing: border-box;

}

h1,h2,form {
  text-align: center
}

 button {
   margin: 5% auto;
   display: block;
 }
